.faqHolder div.Collapsible,
.faqHolder  div.Collapsible.accordian_footer{
    display: block;
}
.faqWrapper{
    padding: 50px;
}
.faqWrapper .pageHeading{
    margin-bottom: 50px;
}
.faqHolder{
    box-shadow: var(--boxShadow);
}
.ques_list{
    margin-bottom: 10px;
}
.ques_list li span{
    font-size: 18px;
    line-height: normal;
    margin-bottom: 10px;
    display: block;
    color: var(--themeColor);
}
.ques_list li p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
    display: block;
    color: var(--themeColor);
    font-weight: 300;
}

@media only screen and (max-width: 999px) {
    .pageContent {
        padding: 20px;
    }
}