.paymentContainer {
  display: grid;
  place-items: center;
  background-color: rgb(255, 255, 255);
  height: auto;
  margin: 2vmax;
}
.paymentForm>p {
  color: rgba(0, 0, 0, 0.753);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding: 1vmax 0;
  text-align: center;
  width: 50%;
  margin: auto;
}
.paymentForm>div {
  display: flex;
  align-items: center;
  margin: 2vmax 0;
}
.paymentInput {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  outline: none;
}
.paymentForm>div>svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}
.paymentFormBtn {
  width: 100%;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}
.paymentForm{
  text-align: center;
}
input[type="submit"]{
  width: 100%;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  padding: 20px 10px;
  margin: 0 auto;
}
input[type="submit"]:hover{
  background-color: #444;
}
.order_info {
  width: 50%;
  background-color: #fff;
  padding: 30px;
  box-shadow: var(--boxShadow);
}
.payment_info {
  overflow: hidden;
  border-bottom: 1px solid #4443;
  padding: 10px 2px 30px 2px;
  margin-bottom: 20px;
}
.payment_info h2 {
  float: right;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--themeColor);
  font-size: 18px;
}
.payment_info h2:first-child {
  float: left;
}
.product_info {
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 2px 30px 2px;
  margin-bottom: 20px;
  color: var(--themeColor);
}
.product_info p {
  float: left;
}
.product_info span {
  float: right;
}
.ftotal_prc,
.total_prc {
  overflow: hidden;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 2px 30px 2px;
  margin-bottom: 20px;
  border-bottom: 1px solid #4443;
}
.ftotal_prc span,
.total_prc span {
  float: right;
  color: black;
  border-top: 1px solid #4443;
  padding-top: 10px;
}
.ftotal_prc span:first-child,
.total_prc span:first-child {
  float: left;
  border: none;
}
.ftotal_prc span {
  border-top: none;
}
.shipping_fee {
  border-bottom: 1px solid #4443;
  padding: 10px 2px 30px 2px;
  overflow: hidden;
}
.shipping_fee h2 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--themeColor);
}
.shipping_fee span {
  float: right;
}
.shipping_fee p {
  float: left;
}
.payment_accordian div.Collapsible,
.payment_accordian div.Collapsible.accordian_footer {
  display: block;
}
.payment_accordian {
  overflow: hidden;
  margin-bottom: 30px;
}
.pa_box {
  display: block;
  padding: 10px;
  position: relative;
}
.pa_box span.pa_title {
  position: absolute;
  left: 20px;
  top: calc(50% - 12px);
}
.pa_box p,
.pa_box span {
  display: block;
  margin-bottom: 5px;
}
label.pa_lbl {
  background: #fffff5;
  display: none;
  width: 100%;
  color: var(--themeColor);
  opacity: 0.8;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 20px;
}

#demo:checked + label.pa_lbl {
  color: var(--themeColor);
  display: block;
}

label.lShow {
  display: block;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  position: absolute;
  left: 5%;
  top: 10px;
}

@media screen and (max-width: 768px) {
  .paymentForm {
    width: 90%;
  }
  .paymentForm>p {
    padding: 4vw 0;
    width: 60%;
  }
  .paymentForm>div {
    margin: 10vw 0;
  }
  .paymentInput {
    padding: 4vw 10vw;
  }
  .paymentForm>div>svg {
    font-size: 6vw;
  }
  .paymentFormBtn {
    padding: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .order_info {
    width: 90%;
    padding: 20px;
  }
  label.lShow{
    left: 10%;
  }
}