{{!-- <html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>

  <style>
    #eWrapper {
      display: "block";
      text-align: "center";
      padding: "20px"
    }

    #email {
      box-shadow;
      : "0px 1px 38px -5px rgba(44, 39, 39, 0.75)";
      width: "600px";
      background: "#fff";
      margin: "0 auto", padding: "50px 20px"
    }

    #email table {
      width: "100%", padding: "0";
      border: "0px";
    }

    .tr1 {
      display: "block";
      background: "transparent";
      text-align: "center"
    }

    .logo {
      display: "block";
      width: "100%";
      margin: "0 auto"
    }

    .logo img {
      width: "200px";
      height: "100px";
      alt: "logo";
    }

    .trr {
      display: "block";
      color: "#444";
      font-size: "18px";
      font-weight: 600;
      line-height: "22px";
      padding: "20px 5px"
    }

    .trrr {
      text-align: "left";
      display: "block";
      color: "#444";
      font-size: "14px";
      font-weight: 400;
      line-height: "18px";
      padding: "20px 5px"
    }

    .trrrr {
      text-align: "left";
      display: "block";
      color: "#444";
      font-size;
      : "14px";
      font-weight: 400;
      line-height: "18px";
      padding: "20px 5px"
    }

    .trrrr a {
      color: red;
    }

    .tr5 {
      text-align: "left";
      display: "inline-block";
      color: "#444";
      font-size: "10px";
      font-weight: 400;
      line-height: "14px";
      padding: "20px 5px";
    }

    .tr5 a {
      text-transform: "uppercase";
      background: "#444";
      border: "1px solid #444";
      color: "#fff";
      padding: "10px 10px"
    }

    .tr6 {
      text-align: "left";
      display: "inline-block";
      color: "#444";
      font-size: "10px";
      font-weight: 400;
      line-height: "14px";
      padding: "20px 10px";
    }

    .tr6 a {

      text-transform: "uppercase";
      background: "#fff";
      border: "1px solid #444";
      color: "#444";
      padding: "10px 5px"
    }
  </style>

</head>

<body>
  <div id='eWrapper'>
    <div id='email'>
      <table border={0} cellSpacing="0" width="100%">
        <tr class="tr1">
          <td className='logo'>
            <img src="https://res.cloudinary.com/vaslcloth/image/upload/v1649262973/avatars/logo_geoqbu.png" />
          </td>
        </tr>
        <tr class="trr">
          Thanks for shopping at VASL
        </tr>
        <tr class="trrr">
          Thanks for signing up for the <b>VASL</b> particle system designer alpha. Please download the app by clicking
          the download button below.
        </tr>
        <tr class="trrrr">
          As part of the alpha, we'd really appreciate it if you could let
          us know your thoughts about the app in our
          <a href="https://www.vasl.com/help">
            vasl.help
          </a>
          space.
        </tr>
        <tr class="tr5">
          <a href="https://www.vasl.com/order">
            View order
          </a>
        </tr>
        <tr class="tr6">
          <a href="https://www.vasl.com/order">
            check status
          </a>
        </tr>
      </table>
    </div>
  </div>
</body>

</html> --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    
    #eWrapper{
      width: 600px !important;
    }
    table,
    tr,
    td{
      border: 0 !important;
      border: none !important;
      background: #fff;      
      display: block;
    }
    .redt{
      color: red;
      font-size: 40px;
    }
    #email{
      background: #fff;
      width: 100%;
      margin: 0 auto;  
      padding: 20px;
      border: 0;
      text-align: center;
    }
    .emailTemp{
       width:100%;
       margin: 0 auto;
       background: #fff;
       text-align: center;
    }
    .logo_holder{
      margin: 0 auto;
      width: 100%;
    }
    .logo img{
      width: 60%;
      margin-bottom: 50px;
    }
    .tr{
      display: block;
      margin-bottom: 20px;
      text-align: center;
      padding: 0 100px;
    }
    .tr a{
      text-decoration: none;
      color: #444;
      font-weight: 600;
    }
    .tr.btn a{
      padding: 10px 20px;
      background: #444;
      color: #fff;
    }
    .tr.ordno{
      text-transform: uppercase;
      color: #444;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
    }
    .txtup{
      text-transform: uppercase;
    }
    .ordlist{
      display: block;
      color: #4445;
      margin-bottom: 20px;
      text-align: left;
      font-size: 20px;
    }
    .date_holder td{
      font-size: 12px;
      color: #4447;
    }
    tr.pr_holder{
      padding: 30px 30px;
      border-top: 2px solid #4445 !important;
      margin-bottom: 30px;
      overflow: hidden;
    }
    td.pr_img{
      display: inline-block;
      width: 70px;
      height: 100px;
      float: left;
      border: 1px solid #444 !important;
      overflow: hidden;
    }
    td.pr_name{
      float: left;
      margin-left: 20px;
      font-weight: bold;
      color: #444;
      font-size: 18px;
      text-transform: uppercase;
    }
    td.pr_details{
      display: inline-block;
      float: left;
      text-align: left;
    }
    td.pr_qut{
      margin-right: 10px;
      color: #4445;
      font-weight: bold;
      display: inline-block !important;
    }
    td.pr_price{
      margin-right: 10px;
      font-weight: bold;
      color: #4445;
      display: inline-block !important; 
    }
  </style>
</head>

<body>
  {{!-- <div
    style="width:600px; text-align:center; padding:30px 20px; margin:0 auto; background:#fff; border:1px solid #444;">
    <strong style="text-align:center; color:#444; display:block; margin-bottom:30px;">Thank You! For shop at
      VASL</strong><img width="200" height="100" style="margin: 0 auto;" alt="vasl-logo"
      src="https://res.cloudinary.com/vaslcloth/image/upload/v1649262973/avatars/logo_geoqbu.png" /><strong
      style="text-align:center; color:#444; display:block; margin-bottom:30px;">You can check your Order Status by
      putting your email at VASL</strong>
    <p style="color:#444; display:block; margin-bottom:30px;">VASL’s top priority is your privacy protection when
      dealing with us. To safeguard your trust, we have a policy that recognizes the importance of protecting your
      personal information; explaining what personal information constitutes, how we use the information, who has access
      to your data, and what are your rights regarding your personal information.; This Privacy Policy does not apply to
      websites maintained by other companies or organizations to which we link and VASL is not responsible for any
      personal information you submit to third parties via our website. Please ensure that you read the Privacy Policy
      of such other companies or organizations before submitting your details. Your access and use of www.vasl.pk
      constitute your acceptance of our Privacy Policy and Terms of Use.</p><a href="www.vasl.pk"
      style="display:block; padding:10px 20px; background:#444; text-decoration:none; font-size:14px; color:#fff;">View
      Order</a>
  </div> --}}
  <div id='eWrapper'>
    <div id='email' class="emailT">
      <table  border={0} cellSpacing="0" class="emailTemp" >
        <tr class="logo_holder" width="100%">
          <td  class='logo'>
            <img src="https://res.cloudinary.com/vaslcloth/image/upload/v1649262973/avatars/logo_geoqbu.png"  />
          </td>
        </tr>
    <tr align="Center" style="color: #000000">
      Thanks for shopping at RUPOSH

      <p style="color: #000000">RUPOSH Wearhouse 2-Km, Main G.T Road, Off to Wireless Colony Besides University of
        Engineering and Technology, Lahore, Pakistan. <br />
        ruposh.pk | ruposhonline@gmail.com |<a href="tel:+923037022229">+92 320-9455-811</a> <a
          href="tel:+923037022229">+92 303-7022-229</a></p>

    </tr>
        <tr class="tr">
          As part of the alpha, we'd really appreciate it if you could let
          us know your thoughts about the app in our
          <a href="https://www.vasl.pk/help">
            vasl.help
          </a>
          space.
        </tr>
        <tr class="tr txtup ordno">
          order no. 54504578075   <!-- yaha order no ana hai -->
        </tr>
        <tr class="date_holder">
          <td>date: 2-2-2022</td>
        </tr>
        <tr class="txtup ordlist">
          items ordered
        </tr>
        <tr class="pr_holder">
          <td class="pr_img">
            product img <br/> yaha aye gi
          </td>
          <td class="pr_name">Chicken achari suit</td>
          <td class="pr_details">
            <td class="pd_qut">45</td>
            <td class="pr_price">25000</td>
          </td>
        </tr>




        {{!-- <tr class="tr btn">
          <a href="https://www.vasl.pk/order">
            View order
          </a>
        </tr>
        <tr class="tr btn">
          <a href="https://www.vasl.pk/order">
            check status
          </a>
        </tr> --}}
      </table>
    </div>
  </div>
</body>

</html>