.newProductContainer {
  width: 100%;
  box-sizing: border-box;
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
}
.checked-item,
.not-checked-item {
  margin-left: 10px;
}
.checked-item {
  text-decoration: line-through;
}
.newProductContainer h1 {
  color: rgba(0, 0, 0, 0.733);
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.createProductForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  justify-content: space-evenly;
  height: auto;
  width: auto;
  box-shadow: 0 0 10px rgb(0 0 0 / 27%);
}
.createProductForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.createProductForm > div.colorSelField{
  display: block;
}
.createProductForm > div > input,
.createProductForm > div > select,
.createProductForm > div > textarea {
  padding: 20px 40px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font-size: 12px;
  outline: none;
  margin-bottom: 10px;
}
.createProductForm > div > svg {
  position: absolute;
  transform: translate(10px, -5px);
  font-size: 20px;
  color: rgba(0, 0, 0, 0.623);
}
#createProductFormFile > input {
  display: flex;
  padding: 0%;
}
#createProductFormFile > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}
#createProductFormFile > input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}
#createProductFormImage {
  width: 100%;
  overflow: auto;
}
#createProductFormImage > img {
  width: 3vmax;
  margin: 0 0.5vmax;
}
#createProductBtn {
  width: 100%;
}
.colorPallete_Holder{
  display: flex;
}
.colorPallete{
  overflow: hidden;
  flex: 1;
}
.colorPallete input{
  margin-bottom: 10px;
  margin-right: 3px;
  flex: 1;
}
.colorselection_field h3{
  display: block;
  margin-bottom: 20px;
}
.sizeSelectOpt > div input{
  margin-right: 3px;
}
.sizeSelectOpt > div{
  display: inline-block;
  margin-right: 10px;
}

.createProductForm > div.sizeSelField,
.createProductForm > div.colorSelField{
  display: block;
  margin-bottom: 30px;
}
.sizeSelField h3,
.colorSelField h3{
  font-size: 20px;
  color: var(--redColor);
  margin-bottom: 10px;  
  font-weight: 400;
  display: block;
}


@media screen and (max-width: 999px) {
  .newProductContainer {
    background-color: rgb(255, 255, 255);
  }
  .createProductForm {
    padding: 5vmax;
  }
  .createProductForm > div > input,
  .createProductForm > div > select,
  .createProductForm > div > textarea {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }
  .createProductForm > div > svg {
    font-size: 2.8vmax;
  }
  #createProductFormFile > img {
    width: 8vmax;
    border-radius: 100%;
  }
  #createProductFormFile > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax cursive;
  }
  #createProductBtn {
    padding: 1.8vmax;
  }
}
